.vs
Library
.idea
Logs
Temp
obj
*.csproj
*.sln
obj
UserSettings/Layouts
UserSettings
Assets/GameFramework/Script/_cwl
Assets/GameFramework/Script/_cwl.meta
App
App.meta
Tools/Pictures
Build
.TIM-Config
.TIM-Log
Assets/Main/Resources/GameSettings.asset
Assets/Main/Resources/GameSettings.asset.meta
BigWorldClient.sln.DotSettings.user
